:root {
    --main-btn-bg: linear-gradient(to bottom right, #3b82f6, #2563eb);
    --main-btn-hover-bg: linear-gradient(to bottom right, #2563eb, #3b82f6);
    
    --sub-btn-bg: linear-gradient(to bottom right, #dc2626, #b91c1c);
    --sub-btn-hover-bg: linear-gradient(to bottom right, #b91c1c, #dc2626);
  
    --transition: all 0.5s ease-in-out;
    --cursor: pointer;
  
    --font-primary: "Roboto", sans-serif;
  
    --sub-heading-color: #facc15;
    --sub-heading-weight: 600;
  
    --heading-color: #374151;
    
    --text-content-color: #9ca3af;
  }

body{
  background-color: white;
  font-family: var(--font-primary);
}

.wrapper{
    display: flex;
    width: 15%;
    margin: auto;
    gap:0px;
    margin-bottom: 40px;
}
.div1{
    flex:1;
}

.wrapper img{
    width: 100px;  
    margin-top: 30px;
}

.div2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  
  border-radius: 10px;
  padding: 20px;
}

.sub-div1{
  box-shadow: 0 0 5px rgb(25, 164, 189);
  padding: 10px;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}

.img-div{
  width: 150px;
  display: block;
  margin: auto;
}

.detail{
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  width: 200xp;
}

.btn-view{
  padding: 10px;
  background: var(--main-btn-bg);
  border: none;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  color: white;
  cursor: pointer;
  
}

.btn-view a{
  text-decoration: none;
  color: white;
}

.btn-view:hover{
  background: var(--main-btn-hover-bg);
}

.head1{
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  color: var(--heading-color);
}

.report{
  display: block;
  margin: auto;
  text-align: center;
}

.sub-div2{
  box-shadow: 0 0 5px rgb(25, 164, 189);
  padding: 10px;
  border-radius: 15px;
  width: 500px;
  height: 400px;
  padding: 20px;
}

.div3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}

.head{
  font-size: 40px;
  text-align: center;
  color: var(--heading-color);
  margin-top: 30px;
}