:root {
    --main-btn-bg: linear-gradient(to bottom right, #3b82f6, #2563eb);
    --main-btn-hover-bg: linear-gradient(to bottom right, #2563eb, #3b82f6);
    
    --sub-btn-bg: linear-gradient(to bottom right, #dc2626, #b91c1c);
    --sub-btn-hover-bg: linear-gradient(to bottom right, #b91c1c, #dc2626);
  
    --transition: all 0.5s ease-in-out;
    --cursor: pointer;
  
    --font-primary: "Roboto", sans-serif;
  
    --sub-heading-color: #facc15;
    --sub-heading-weight: 600;
  
    --heading-color: #374151;
    
    --text-content-color: #9ca3af;
  }

body{
  background-color: white;
  font-family: var(--font-primary);
}

.head{
    font-size: 40px;
    text-align: center;
    color: var(--heading-color);
    margin: 40px;
}

.invoice-details{
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgb(25, 164, 189);
    padding: 20px;
    width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 40px;

}

.invoice-head{
    color: var(--heading-color);
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

strong{
    padding: 10px;
    font-size: 20px;
}

p{
    font-size: 17px;
}

.btn-download{
    padding: 10px;
    background: var(--main-btn-bg);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 40px;
}

.btn-download:hover{
    background: var(--main-btn-hover-bg);
}

.btn-email{
    padding: 10px;
    background: rgb(30, 155, 194);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 20px;
}

 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
   margin-bottom: 50px;
    margin: auto;
    width: 80%;
  }


th {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 12px;
}


td {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}


tr:nth-child(even) {
  background: #f9f9f9;
}


tr:hover {
  background: #e9ecef;
  transition: 0.3s;
}



.head1{
	margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: var(--heading-color);
}