:root {
    --main-btn-bg: linear-gradient(to bottom right, #3b82f6, #2563eb);
    --main-btn-hover-bg: linear-gradient(to bottom right, #2563eb, #3b82f6);
    
    --sub-btn-bg: linear-gradient(to bottom right, #dc2626, #b91c1c);
    --sub-btn-hover-bg: linear-gradient(to bottom right, #b91c1c, #dc2626);
  
    --transition: all 0.5s ease-in-out;
    --cursor: pointer;
  
    --font-primary: "Roboto", sans-serif;
  
    --sub-heading-color: #facc15;
    --sub-heading-weight: 600;
  
    --heading-color: #374151;
    
    --text-content-color: #9ca3af;
  }

body{
  background-color: white;
  font-family: var(--font-primary);
}

.head{
    font-size: 40px;
    color: var(--heading-color);
    text-align: center;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
    margin-left: 180px;
    width: 80%;
  }
  
  
  th {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 12px;
  }
  
  
  td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  
  tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  
  tr:hover {
    background: #e9ecef;
    transition: 0.3s;
    cursor: pointer;
  }

  .sheet{
    padding: 20px;
    margin-left: 750px;
    box-shadow: 0 0 5px rgb(25, 164, 189);
    border-radius: 15px;
    width: 400px;
  }
strong{
    font-size: 20px;
    margin-left: 80px;
}

p{
    font-size: 20px;
    
}

.img-icon{
    width: 100px;
    margin-left: 150px;
}

.additional-info{
    margin-left: 600px;
}

.btn-download{
    padding: 10px;
  border: none;
  background: var(--main-btn-bg);
  color: white;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  margin-left: 900px;
  width: 200px;
}

.img-icon1{
    width: 100px;
    margin-left: 300px;
    margin-bottom: 20px;
}

.img-icon2{
    width: 80px;
    margin-left: 50px;
}
h3{
    margin-left: 50px;
}